GLFW_ICON ICON "../dist/assets/icon.ico"

1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
	//BLOCK "080904E4" 	// English UK
    BLOCK "040904E4"	// English US
    BEGIN
      VALUE "CompanyName", "Compagny Name"
      VALUE "FileDescription", "My Game"
      VALUE "FileVersion", "1.0.0"
      VALUE "InternalName", "my_game"
      VALUE "LegalCopyright", "My Name"
      VALUE "OriginalFilename", "game.exe"
      VALUE "ProductName", "My Game"
      VALUE "ProductVersion", "1.0.0"
    END
  END
  BLOCK "VarFileInfo"
  BEGIN
	//VALUE "Translation", 0x809, 1252	// English UK
    VALUE "Translation", 0x409, 1252	// English US
  END
END